/*
		Document   : ${FILE}
		Created on : ${DATE}, ${TIME}
		Author     : ${USER}
		Version    : 0.1
		Description:
				This contanins style (not common) part of default template.
				Dont put any module related style here.
*/
/*@import url("../../../../lib/misc/fonts/m.css");*/
@charset "utf-8";